/[Aa]sset/[Mm]eta.xsd
/[Ex]xternal/
/[Ll]ibrary/
/[Ll]ocal[Cc]ache/
/[Ll]ogs/
/[Oo]bj/
/[Mm]emory[Cc]aptures/
/[Pp]ackage[Cc]ache/
/[Build]/
/[Cc]anvas[Cc]anvas/
/[Bu]ilds/
/[Uu]nityConfiguration.gen.mp4
/[Aa]sset/[Mm]eta.json
sysinfo.txt
*.apk
*.unitypackage
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.bak
*.userdir